<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="answer.css">
    </head>

    <body>        
        <h1><%- label %></h1>
        <h1><b>Best Score: </b> <%- best_score %></h1>
        <h1><b>Current Score: </b> <%-score %></h1>

        <form action="/trivia" method="get">
            <%- button %>
        </form>
    </body>
</html>

