<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="start.css">
    </head>

    <body>
        <h1>Welcome to AI Trivia!</h1>
        

        <form action="/trivia" method="get">
            <br>
            <br>
            <br>
            <input type="submit" id="submission" value="Start Trivia Game">
        </form>
    </body>
</html>

